%TNP-light {
  font-family: "TTNormsPro-Light", Arial, sans-serif;
  font-weight: 300;
}

%TNP-light-italic {
  font-family: "TTNormsPro-LightItalic", Arial, sans-serif;
  font-weight: 300;
  font-style: italic;
}

%TNP-extra-bold {
  font-family: "TTNormsPro-ExtraBold", Arial, sans-serif;
  font-weight: 700;
}

